.card {
  position: relative;
  width: 17rem;
  height: 23.75rem;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  img{
    width: 17rem;
  }
}

.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 5px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
}

.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  filter: blur(8px);
}

p{
  margin: 0rem;
}

.heading {
  font-size: 1.75rem;
  text-transform: capitalize;
  font-weight: 700;
}

.card p:not(.heading) {
  font-size: 1rem;
}

.card p:last-child {
  color: #e81cff;
  font-weight: 600;
  font-size: 2rem;
  padding-top: 1rem;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

span{
  margin-right: 0.25rem;
}

